.navbar {
  background-color: #f8f8f8;
  height: 100px;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  color: #393d45;
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 0;
}
