<div class="container">
  <app-search-bar (searchTextChanged)="onSearchByName($event)"></app-search-bar>

  <div class="results-add-button-wrapper">
    <p [ngClass]="{ hidden: !searchText }">
      Search result for <strong>{{ searchText }}</strong>
    </p>
    <button mat-flat-button class="button-style black-button" type="button" (click)="onAddModal()">Add</button>
  </div>

  <div class="products-wrapper">
    <app-product *ngFor="let product of filteredProductList" [product]="product"></app-product>
  </div>
</div>
