.image-button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.image {
  height: 418px;
  width: 269px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 11px 11px 15px -6px #888;
  cursor: pointer;
}

.category-name {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  width: auto;
  height: 35px;
  background-color: black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
